/* characters page CSS for The-world-of-Star-Wars assignment 
    by Project_66
*/


/* 
==========================================================================
Globals
==========================================================================
*/

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #1b1b1b; 
}



/* 
==========================================================================
Page header
==========================================================================
*/


.jumbotron {
    height: 350px;
    -webkit-font-smoothing: antialiased;
    background-image: url('/static/images/header_bg.jpeg');
    background-position-x: -200px;
    background-attachment: fixed;
    margin: -20px auto;
    padding: 1.5%;
    box-sizing: border-box;
}

#sw-logo {
    display: block;
    top: 50%;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 130px;
	margin-left: 600px;
    margin: 70px auto;
    box-sizing: border-box;
    background-size: contain;
}

#jumbotron-fadOut {
	background-color:#000;
	opacity:0.0;
}

/* 
==========================================================================
Navbar
==========================================================================
*/


.navbar {
	-webkit-font-smoothing: antialiased;
    border-radius: 0;
	border-bottom: 1px solid #FF3D00; 
}

.navbar-inverse .navbar-brand > a:hover, .navbar-header > a:focus {
	background: none;
    color: #FF3D00;
}

.nav p {
	-webkit-font-smoothing: antialiased;
	padding-top: 15px;
	padding-right: 15px;
	color: #ddd;
}

.nav a {
	margin-right: 15px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FF3D00;
}

 .navbar .navbar-nav > .active > a {
	 background: none;
 } 
 .navbar .navbar-nav > .active > a:hover, 
 .navbar .navbar-nav > .active > a:focus {
	color: #FF3D00;
    background: none;
	border-bottom: 2px solid #FF3D00;
	margin-bottom: -2px;
	padding: -2px;
 }


.affix {
    z-index: 3;
    top: 0;
    width: 100%;
	border-bottom: 0.5px solid #FF3D00;
	box-shadow: 0px 5px 15px #1b1b1b;
}

.affix img {
	padding-top: 5px;
	display: block;
	margin: auto 750px;
}

.affix + .container-fluid {
    padding-top: 70px;
}

/* 
==========================================================================
Body
==========================================================================
*/


#page-title h3 {
	-webkit-font-smoothing: antialiased;
    margin: 0 0 10px;
    font-size: 3rem;
    line-height: 1.35rem;
    color: #ddd;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

#page-title p {
    font-size: 1.8rem;
    color: #ddd;
}


/* 
==========================================================================
Buttons
==========================================================================
*/

.btn-primary, .btn-default {
	-webkit-font-smoothing: antialiased;
    background-color: #242424;
    border-color: #262626;
    color: #ddd;
}

.btn-primary:hover, .vote:hover, .btn-default:hover {
    background-color: #060606;
    border-color: #060606;
	color: #FF3D00;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:visited, .btn-default:active, .btn-default:focus, .btn-default:visited {
	color: #FF3D00;
    background-color: #2a2a2a !important;
    border-color: #2a2a2a !important; 
}

.residents {
	background-color: transparent;
	border-color: transparent;
}

.residents:hover {
	color: #FF3D00;
	background-color: transparent;
	border-color: transparent;
}

.vote {
	background-color: transparent;
	border-color: transparent;
}

/*
.vote:hover {
	color: #edec51;
	background-color: transparent;
	border-color: transparent;
*/

/* 
==========================================================================
Cards
==========================================================================
*/

.card {
	padding: 0;
    height: 350px;
    width: 300px;
	background-size: cover;
    text-align: center;
    margin: 15px;
    display: inline-block;
    /*border: 1px solid #FF3D00;*/
    box-shadow: 0px 5px 25px #000000;
    border-radius: 5px;
    overflow: hidden;
}


.card-deck {
    padding-left: 5em;
    display: flex;
    webkit-justify-content: center;
}


.card-block {
	border-top: 1px solid #303030;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #303030;
	font-size: 1.5em;
	color: #ddd;
	padding-bottom: 10px;
}


/* 
==========================================================================
Footer
==========================================================================
*/

.footer {
	-webkit-font-smoothing: antialiased;
	background: #1a1a1a;
    background-image: url('/static/images/footer_darth_vader.jpg');
    background-position: center;
    background-repeat: no-repeat;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-top: 1px solid #2a2a2a;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: #ddd;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #ddd;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #858a8d;
}

.footer a:hover {
	color: #edec51;
}

/*Social buttons*/
.social li {
	background: none repeat scroll 0 0 #2a2a2a;
	border: 2px solid #2a2a2a;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #858a8d;
	background: #858a8d;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

.footer-bottom {
	background: #1a1a1a;
	border-top: 1px solid #2a2a2a;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p {
	padding-top: 6px;
}