{% extends 'base_template.html' %}

{% block own_css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}


{% block own_js %}
<script src="/static/js/main.js" defer></script>
<script src="/static/js/login.js" defer></script>
<script src="/static/js/display.js" defer></script>
<script src="/static/js/characters.js" defer></script>
{% endblock %}


<body>

    {% block modals %}
    <!-- Modal for residents -->
    <div class="modal fade" id="residents-modal" tabindex="-1" role="dialog" aria-labelledby="residentsModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalLabel">
                        <!-- Modal title comes here -->
                    </h4>
                </div>
                <div class="modal-body">
                    {% set resident_table_header = ['Name', 'Height', 'Mass', 'Skin colour', 'Hair colour', 'Eye colour', 'Birth year', 'Gender']
                    %}
                    <table class="table table-hover table-responsive residents-table">
                        <thead>
                            <tr id="mtable-header">
                                {% for attribute in resident_table_header %}
                                <th> {{ attribute }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="residents-table">
                            <!-- residents will be displayed here -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for statistics -->
    <div class="modal fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="statisticsModal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalLabel">
                        <!-- Modal title comes here -->
                    </h4>
                </div>
                <div class="modal-body">
                    {% set planets_table_header = ['Name', 'Votes'] %}
                    <table class="table table-hover table-responsive statistics-table">
                        <thead>
                            <tr id="ptable-header">
                                {% for attribute in planets_table_header %}
                                <th> {{ attribute }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="statisticsTable">
                             <!-- Residents table comes here -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

     <!-- Vote Notification Modal -->
    <div id="vote-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h4><span class="glyphicon glyphicon-floppy-saved"></span> Vote saved</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Header -->
    <div class="jumbotron">
        <div id="sw-logo">
            <img src="/static/images/sw_logo.png">
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Star Wars</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Planets</a></li>
            <li class="active"><a href="/characters">Characters</a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if username %}
            <li>
                <p id="user_logged_in"> Logged in as {{ username }} </p>
            </li>
            {% else %}
            <li>
                <p> Not logged in </p>
            </li>
            {% endif %}
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
            {% if username %}
            <li></li>
            <li><a href="/logout" id="myBtn"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
            {% else %}
            <li><a href="/login" id="myBtn"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="container-fluid">
        {% block content_title %}
        <!-- Title -->
        <div id="page-title">
            <h2>Star Wars universe database</h2>
        </div>
        {% endblock %}
        <br>
        {% block main_content %}
        <!-- Page swap buttons -->
        <button id="btn-prev" type="button" class="btn btn-primary" data-previous="{{ planet_data['previous'] }}"> Previous </button>
        <button id="btn-next" type="button" class="btn btn-primary" data-next="{{ planet_data['next'] }}"> Next </button>
        <button id="statistics" type="button" class="btn btn-primary" data-toggle="modal" data-target="#statisticsModal"> Statistics </button>
        <!-- Table -->
        <table id="swapiPlanetsTable" class="table table-hover table-responsive">
            <thead>
                <tr>
                    {% for header in ['Name', 'Diameter', 'Climate', 'Terrain', 'Surface water', 'Population', 'Residents'] %}
                    <th class="planets-header">{{ header }}</th>
                    {% endfor %} {% if username %}
                    <th class="planets-header">Vote</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="planet-table">

                <!-- Planets comes here -->

            </tbody>
        </table>
        {% endblock %}
    </div>

